.label_register_text_box {
    -fx-padding: 5px;
    -fx-text-alignment: center;
    -fx-background-color: #3E535C;
    -fx-background-radius: 20px;
    -fx-text-fill: white;
}

.label_register_menu_title {
    -fx-padding: 5px;
    -fx-text-alignment: center;
    -fx-background-color: #FF8000;
    -fx-background-radius: 10px;
    -fx-text-fill: white;
}

.label_profile_menu_attributes {
    -fx-text-alignment: center;
    -fx-text-fill: white;
}

.label_profile_menu_show {
    -fx-padding: 5px;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-background-color: #FF8000;
    -fx-background-radius: 20px;
    -fx-text-fill: white;
    -fx-pref-width: 128px;
}

.label_scoreboard_item {
    -fx-text-alignment: center;
    -fx-alignment: baseline-center ;
    -fx-text-fill: #3b6cb6;
    -fx-font-size: 20px;
}